2D_histogram.ipynb
adjusted_oni_calc_sliding_base_periods.ipynb
calc_enso_cesm2le.ipynb
calc_pdo_cesm2le.ipynb
CAPE_detrend_method_comparison.ipynb
cape_pdo_nino_multivariate_regression_annual.ipynb
cape_pdo_nino_multivariate_regression.ipynb
cape_pdo_timeseries_analysis.ipynb
cape_time_series_filtering.ipynb
cape_vs_pdo_scatter.ipynb 
cesm2_le_composites.ipynb
composites_cape_s06_ndsev_seasonal.ipynb
composites_storm_reports_thresholds_oni.ipynb
conus404_200mb_wind.ipynb
correlate_sst_with_sev_wx_evnts.ipynb
large_scale_envt_composites.ipynb
ndsev_calc.ipynb
ndsev_composites.ipynb
ndsev_red_region_investigation.ipynb
ndsev_testing.ipynb
ndsev_timeseries.ipynb
pdo_base_period_testing.ipynb
pdo_calc_testing.ipynb
pdo_ts_and_spatial_pattern.ipynb
regressions_cape_s06_ndsev_seasonal.ipynb
regress_out_enso.ipynb
regrid_cesm2le_sst.ipynb
storm_reports_composites_linear_regression.ipynb
storm_reports_composites_multivariate_regression.ipynb
storm_reports_composites_thresholds.ipynb
storm_reports_time_series.ipynb
timeseries_color_by_pdo_phase.ipynb
timeseries.ipynb
Untitled1.ipynb
Untitled.ipynb
u_v_850_calculation.ipynb
wind_calc.ipynb
casper_notebooks_for_ref/
CESM2LE/
paper_figs/saved_pngs/
__pycache__
